body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    top: 0;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    display: inline;
    padding: 10px;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
}

section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

section p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
}

section ul {
    list-style: disc;
    padding-left: 30px;
    font-size: 16px;
}

section li {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

footer p {
    font-size: 14px;
    margin: 0;
}


section a {
    color: #3498db;
    text-decoration: none;
    font-size: 16px;
}

section a:hover {
    text-decoration: underline;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
#home {
    background-image: url("bg.jpg");
}

#bio {
    background-image: url("bg2.jpg");
}

#portfolio {
    background-image: url("bg3.jpg");
}

#skills {
    background-image: url("bg4.jpg");
}

#contact {
    background-image: url("bg5.jpg");
}



#home h2,
#home p {
    color: #fff;
}


#bio h3,
#bio p {
    color: #000000; 
}

#portfolio h2,
#portfolio p,
#portfolio ul li {
    color: #000000; 
}


#skills h2,
#skills ul li {
    color: #ffffff; 
}


#contact h2,
#contact p,
#contact a {
    color: #000000; 
}
#home img{
    border-radius: 50%;
    overflow: hidden;
    width: 225px;
    height: 225px;
}



